/*页面的公共效果*/
body, .box, aside, main {
    padding: 20px;
    border: 1px solid #999;
}
.box, .left div {
    background-color: #eee;
}
img{
    width: 80px;
    height: 80px;
}

/*基础样式*/
.cf::before, .cf::after {
    content: '';
    display: table;
}
.cf::after{
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}


/*自身效果*/
.left{
    width: 200px;
    background-color: #fff;
    margin-right: 20px;
}
.left img{
    width: 80px;
    height: 80px;
    vertical-align: top;
}
.left span{
    padding: 0 20px;
}
main{
    min-width: 100px;
    overflow: auto;
}
.right{
    background-color: #fff;
    margin-left: 20px;
}
.right img{
    display: block;
    margin-bottom: 20px;
}
.right img:last-child{
    margin: 0;
}