.box {
    position: relative;
    padding: 100px;
    text-align: center;
}

.box:hover .img:first-child {
    transform: translateX(-50%) rotateZ(25deg);
}

.box:hover .img:nth-child(3) {
    transform: translateX(-50%) rotateZ(-25deg);
}

.img {
    border: 10px solid #ccc;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    transform-origin: center 400px;
    transition: all 700ms ease;
}

.img:first-child {
    transform: translateX(-50%) rotateZ(5deg);
}

.img:nth-child(3) {
    transform: translateX(-50%) rotateZ(-5deg)
}