.img {
  width: 150px;
  height: 440px;
  background: url('../images/1.gif');
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.img::after {
  transition: all .8s;
  background: url('../images/2.gif');
  transform: rotate(90deg);
  transform-origin: left bottom;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.img:hover::after {
  transform: rotate(0);
}

.right::after {
    transform-origin: right bottom;
}
.top::after {
    transform-origin: left top;
}
.bottom::after {
    transform-origin: right bottom;
}
.left::after {
    transform-origin: left bottom;
}
