body{
  background-color: #ccc;
  color: #333;
  margin: 1em 10%;
  text-align: center;
}

h1{
  color: #333;
  text-shadow: 6px 6px 5px #fff;
  letter-spacing: 30px;
  font-size: 50px;
}

a{
  color: #c60;
  font-weight: bold;
  text-decoration: none;
}

ol{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
}
ol li{
  padding: 0 2em;
}

img{
  width: 600px;
  height: 400px;
  display: block;
  clear: both;
  display: block;
  border-radius: 10px;
}

ol, img{
  margin: 0 auto;
}

p{
  margin: 30px 0;
}

/* 图片 */
.gallery {
  
}