.form {
    display: flex;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
}

.form_title {
    font-size: 25px;
    color: #4A4A4A;
    padding: 0 60px 0 0;
}

.form_input {
    height: 67px;
    width: 532px;
    border: 2px solid #ECECEC;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 25px;
}

.form_btn {
    height: 65px;
    width: 100px;
    background-color: #2E80CB;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
}

.form_ask {
    position: absolute;
    bottom: 0;
    font-size: 25px;
    color: #aaa;
    left: 372px;
}