extends layout

block content
  h1 图片上传功能
  form(class="form", method="post", action='javascript:;')
    input(class="file", type="file")
    input(class="submit", type="submit")
  script(src="../javascripts/index.js")
