.w{
  margin: 0 auto;
  width: 1190px;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

body{
  font-size: 12px;
}


/*网站导航*/
.site-nav{
  height: 30px;
  line-height: 30px;
  background-color: #E3E4E5;
}
.site-nav-place{
  padding: 0 10px;
}
.site-nav-place i{
  color: #F10215;
  font-size: 14px;
}
.site-nav-place:hover{
  background-color: #fff;
}
.site-nav-lists ul li{
  float: left;
  padding: 0 10px;
}
.cw:hover{
  background-color: #fff;
}
.site-nav-lists .cw a:hover{
  color: #999;
}
.site-nav-lists ul li a:hover{
  color: #f10215;
}
.site-nav-lists ul li a{
  color: #999;
}
.site-nav-lists .line{
  width: 1px;
  height: 12px;
  background-color: #ccc;
  margin: 9px 5px;
  padding: 0;
}
.site-nav-lists .register{
  color: #f10215;
}

.ad{
  background-color: #83178E;
}
.ad>div{
  position: relative;
}
.close-btn{
  position: absolute;
  background-color: rgb(45, 45, 45);
  opacity: .3;
  width: 20px;
  line-height: 20px;
  top: 5px;
  right: 5px;
  text-align: center;
}
.ad .close{
  color: #fff;
  font-size: 14px;
}
