.header {
  width: 100%;
  overflow: hidden;
  position: relative;
}


/* banner效果图 */

.header_banner {
  width: 100%;
}

.banner_image {
  width: 100%;
}


/* 序号 */

.serial {
  width: 100%;
  position: absolute;
  bottom: 8px;
  left: 0;
  text-align: center;
}

.serial_list {
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}


/* 顶部搜索栏 */

.top-bar {
  height: 39px;
  padding: 0 46px 0 10px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(222, 24, 27, 0);
}

.top-bar_logo,
.top-bar_search-icon,
.top-bar-login {
  position: absolute;
  display: inline-block;
}

.top-bar_logo {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAaCAYAAAA9rOU8AAAB7UlEQVRIicXXT4hNYRjH8c+dblHUTVG6mtEkUSJ/J1MjG2ahiIWNtRILFigLK6WUkShSipWNFbEwKZqysDDyJxYjlMY0RU0jU5e4Y/Gek3dOM+fWzL1zfnXq+T3ved/zPe973nOeUxru7pGjo7ge+R14lsTr8WaGfj/xAyMYwgs8xau8i5XzGuegxclRxVYcSvIfhJu7iYlsp7YWwcyk1biM99iTbWzmzJzFoyQuYRlWYCN6E5BUHXiI07jUCpjPGMxp345z2J34EvowhlvM7zI9F2boBCaj/DV0zjdMqqs4E/mFOF8UDGF5Xkb+IJYXBVPHxciXsb8oGHiAX5HfWSTMhKlv8HVFwsDHKK4WDTMWxZWiYaaoaJglUTxeNMyqKB5pBFNpIcgibIj8u0YwC1oIszcz/kAjmI6M/9YkkDahfEj1B/cawWyL4ppQJjRDp7A58ncxmgdzQKhzUz3B7yaAHMeFyNeEwmzarV3GEdzJ5G/MEaIL/bgiFFapjklmvCwsRQUrsUmYkWpmoPvChy1PndgS+aVoF3ZML9Zkzq/jJG6nidJwd8+kfA1gn/DrESvvV6WRvuAwHsfJvGdmVHjQdk0DMlsNCWXn2iwI/wvyGr7jE14LVX4//s7ignWMCyXC1wRgUNgAb/M6/gPrElp1gukJzAAAAABJRU5ErkJggg==');
  background-size: 18px 13px;
  width: 18px;
  height: 13px;
  left: 20px;
  top: 14px;
}

.top-bar_search-icon {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAB/0lEQVRIiaXVTUhVQRjG8d+1Mm2TRWALoXLRh4i1yPbRIoNw0SJwGS1KKSqLCgJpU1BBughKaJ2LwEUGfe7aFQR9aUEUVOSuDyIuWlKLM2PT6VzJex848M4z5/3PzHvOzJSGh4dV0DL0YAc6sBLT+IDXuIURfK4EWFjgNeAIjqMp11eP9eHZiTO4gEGU86C6XHs1HuFsAbhITWGAhyG3IrwFD9CeeOPoR1tYUUOI+0NfVHvIbSmCN2A06SyjT1brQUxgKjwTwevAQdl3iJMbRWMefhidIZ5GNy5jJr/URDO4JKt9HKAzsGbhy3EySTqK+3NA87onK1PUicBUJ/vdloaOF2HG89WVkCuweiJ8e/LSVXOXopJmQm5UV4RvSsw7VYCjbifxxghvTsw3NcDT3OYIn0rMXzXA093+M8InE7O1BviqJJ6M8FeJ2VUDfGsSP4nw9CPuxYIqwCX0Ju27ET6Cr8Fsx/4q4H3+nEnfcT3CP+Fc8uJFbJsHeDPOJ+2hwJw9W4bwLMT1GMM+/x7JqUqynTiGJcF7LjuCpfAyduFjaDfKtvRTHMI6LMJirJXV9zGuyW6oqBZZieqhlLvm1uCGv8/0ajSO7vyy32ILTuHLf0C+Kd7VbRgoqmlZds214gBu4h1+yHbz++D1yq62DThWNJl8WWrRCpzGHrzE7t8cqmerthhqyQAAAABJRU5ErkJggg==');
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  left: 48px;
  top: 15px;
}

.top-bar_search {
  height: 29px;
  margin-top: 6px;
  width: 100%;
  padding-left: 53px;
  border-radius: 15px;
}

.top-bar-login {
  color: #fff;
  right: 10px;
  top: 13px;
  font-size: 13px;
}


/* 导航栏 */

.nav {
  padding: 10px 0;
}

.nav-box {
  display: flex;
  flex-wrap: wrap;
}

.nav_list {
  text-align: center;
  width: 20%;
  font-size: 13px;
  padding: 10px 0;
}

.nav_list img {
  width: 34px;
  height: 34px;
  margin-bottom: 4px;
}

.nav_list span {
  display: block;
  color: #666;
}

.activity img {
  width: 100%;
}


/* 新闻 */

.news {
  position: relative;
  margin: 0 8px 8px;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 6px;
  height: 30px;
}

.news_icon {
  position: absolute;
  top: 2px;
  left: 8px;
}

.news_icon img {
  width: 73px;
  height: 27px;
}

.news_list {
  padding: 0 105px 0 75px;
  overflow: hidden;
}

.news_each {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin-top: 8px;
}

.news_key {
  color: #232326;
  font-weight: bold;
  padding: 0 5px;
}

.news_desc {
  overflow: hidden;
  color: #181818;
}

.news_more {
  position: absolute;
  right: 8px;
  top: 7px;
  font-size: 12px;
  color: #f23030;
  border-left: 1px solid #ccc;
  padding: 1px;
  padding-left: 5px;
}
.right_arrow {
  width: 15px;
  height: 15px;
  background-color: #f23030;
  display: inline-block;
  color: #fff;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  vertical-align: bottom;
}
.count_down span{
  padding: 0 2px;
  border: 1px solid #dfdfdf;
  color: #232326;
}