html,
body {
  height: 100%;
  font-size: 100%/1.5;
}

#header {
  position: relative;
  width: 100%;
  height: 100%;
}

.list-options {
    display: inline-block;
    width: 26.5vw;
    height: 7vw;
    border-bottom: .4vw solid #fff;
    margin: 0 6px -8px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.list-options li {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -10vw;
  animation: animate_options 21s linear infinite;
 opacity: 0; transition: all .3s ease; 
}
.list-options li.current { bottom: 0; opacity: 1; }

.list-options li:nth-child(1) {
  animation-delay: 0s;
}

.list-options li:nth-child(2) {
  animation-delay: 3s;
}

.list-options li:nth-child(3) {
  animation-delay: 6s;
}

.list-options li:nth-child(4) {
  animation-delay: 9s;
}

.list-options li:nth-child(5) {
  animation-delay: 12s;
}

.list-options li:nth-child(6) {
  animation-delay: 15s;
}

.list-options li:nth-child(7) {
  animation-delay: 18s;
}

.hader-descript {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  font-size: 3.6vw;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  white-space: nowrap;
}

@keyframes animate_options {
  0% {
    opacity: 0;
    bottom: -10vw;
  }
  1.4% {
    opacity: 1;
    bottom: 0;
  }
  7.1% {
    opacity: 1;
    bottom: 0;
  }
  12.6% {
    opacity: 1;
    bottom: 0;
  }
  14% {
    opacity: 0;
    bottom: -10vw;
  }
  100% {
    opacity: 0;
    bottom: -10vw;
  }
}
