.css_title {
  position: relative;
  font-size: 40px;
}

.css_title::before,
.css_title::after {
  transform-origin: left center;
  position: absolute;
  left: 0;
  top: 0;
  content: 'CSS3练习';
  transition: all 1s;
}

.css_title::before {
  color: rgba(0, 0, 0, 0.3);
}

.css_title::after {
  transform: rotateY(-10deg);
  color: yellowgreen;
}

.css_title:hover::before {
  transform: skew(0, 4deg);
}

.css_title:hover::after {
  transform: rotateY(-20deg) skew(0, 1deg);
}

.event-link {
  display: inline-block;
  padding: 10px;
}
