html,
body {
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
  background-color: #F5FCFF;
}
iframe {
  width: 100%;
  height: 100%;
}
/* 左侧 */
.slider_left {
  flex: 1;
}
.slider_left_item {
  padding: 20px;
}

/* 右侧 */
.slider_right {
  flex: 4;
}
.slider_right_item {
  width: 100%;
  height: 100%;
  display: none;
  counter-reset: indexN;
}
.slider_right_item a {
  padding-right: 20px;
}
.slider_right_item a::before {
  counter-increment: indexN;
  content: counter(indexN)'.  '
}

/* 公共 */
.show {
  display: block;
}
.hide {
  display: none;
}